body {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #096C84;
    background-image: url(../images/background-large.jpg);
    font-size: 1.5rem;
}

.board-container {
    background-color: green;
    border: 4px solid black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 65vh;
    height: fit-content;
}

.board {
    height: fit-content;
    min-height: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: darkgreen;
}

.button-container{
    height: fit-content;
    min-height: 6vh;
    border: none !important;
}

.hidden {
    display: none;
}

.card-drawn{
    height: 25vh;
    width: auto;
    padding: 1vh;
    display: inline;
}

@media only screen and (max-width: 850px) {
    .card-drawn{
        height: 16vh;
        width: auto;
        padding: 1vh;
        display: inline;
    }
    html { font-size: 62.5%; } 
}

.score {
    background-color: darkgreen;
    border: 2px solid black;
    height: fit-content;
}

.score-container {
    text-align: center;
    white-space: nowrap;
    min-height: 6vh;
    height: fit-content;
}

.score-container::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.score::after {
    content: attr(value);
}

.btn-circle {
    min-height: 6vh;
    width: fit-content;
    border-radius: 50%;
    border: 2px solid black;
}

.content {
    flex: 0 0 120px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.footer-link:hover {
    color: yellow !important;
}

#rules {
    width: 75%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-top: 3vh;
    margin-bottom: 4vh;
    font-size: 0.9rem;
}

@media only screen and (min-width: 850px) {
    #rules {
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: rgba(0,0,0,0.5);
        color: white;
    }
}

.list-group-item {
    background-color: rgba(0,0,0,0.5);
    color: white;
}